* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  /* body* */
  body {
    background-blend-mode: overlay;
    background-image: url(./img/soso.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-position: cover; 
    background-attachment: scroll;
}
  nav :-ms-keyboard-active{
    background: #fff;
  }
  
  /* Navlist* */
  .nav-lists {
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;
    padding-top: 1.3rem;
  }
  
  /* navbar achor tags* */
  nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50px;
    color: #fff;
    text-shadow: 3px 3px 3px navy;
    font-size: 15px;
    font-family: 20rem;
  }
  
  nav {
    padding: 1rem;
    /* padding-top: 1rem; */
  }
  
  .nav a:hover {
    color: rgb(171, 164, 164);
  }
  .logo {
    text-shadow: 3px 3px 3px purple;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 20rem;

  }
  
  /* The burger place */
  .burger {
    display: none;
    cursor: pointer;
  }
  /* burger divs */
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
    transition: all 0.3 ease;
  }

  .header h3{
    text-align: center;
    color: #fff;
    padding-top: 1rem;
    font-weight: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-shadow: 3px 3px 3px blue;
  }

  .dropdown-menu {
    text-align: center;
    padding: 1rem;
    position: fixed;
    /* visibility: hidden; */
  }
  
  .dropdown-menu li {
    list-style: none;
    padding: 10px;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .dropdown-menu li a {
    text-shadow: 3px 3px 3px purple;
    font-family: monospace;
    font-size: 14px;
  }


  /* inputs login* */
  input {
    padding: 1rem;
    margin: 3px;
    width: 27rem;
    background: #fff;
    color: black;
    font-size: 1rem;
    outline: none;
    text-align: center;
    background-image: url(./img/soso.jpg);
    background-attachment: fixed;
    background-size: 30rem;
    position: relative;
  }
  input:hover {
    background: #ccc;
    color: black;
  }
  input a{
    text-decoration: none;
  }
  
  
  div input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    outline: none;
    border: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    background-blend-mode: color-burn;
    margin: 1rem;
    position: relative;
  }
  
 
  
  .control {
    margin-left: 42%;
  }
  button {
    padding: 1rem;
    width: 7rem;
    border-radius: 1rem;
    outline: none;
    border: 0px;
  }
  
  #signup {
    outline: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background: blue;
    border: 0;
  
  }
  
  #signup a {
    color: #fff;
    text-decoration: none;
  }
  
  #signin {
    outline: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background: blue;
    border: none;
  }
  
  
  div kbd {
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: #fff;
    font-size: 10px;
  }
  
  /* My media query */
  
  @media only screen and (max-width: 620px) {
    .container {
      display: grid;
      grid-template-columns: auto;
      place-content: center;
      background-blend-mode: color-burn;
      margin: 1rem;
      position: relative;
    }
  
    .nav-lists {
      width: 20%;
      position: absolute;
      right: 60%;
      padding: 5rem;
      height: 30rem;
      top: 4vh;
      padding-top: 1rem;
      margin: 2rem;
      background-color: rgb(1, 8, 28);
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-210%);
      transition: transform 1s ease-in;
      border-top-right-radius: 4rem;
      border-bottom-right-radius: 4rem;
      font-size: 4px;
      -ms-zoom-animation: unset;
      clip-path: polygon(0 0, 33% 0, 21% 39%, 26% 66%, 0 100%, 0% 50%);
    }
    
 
    .nav-lists {
      display: none;
      justify-content: space-around;
      margin-left: 4rem;
    }
  
    .burger {
      display: block;
    }
  
    nav {
      display: flex;
      justify-content: space-between;
    }
  
    input {
      padding: 1rem;
      margin: 3px;
      width: 17rem;
      background: #fff;
      color: black;
      font-size: 1rem;
      outline: none;
      text-align: center;
      background-image: url(./img/soso.jpg);
      background-attachment: fixed;
      background-size: 30rem;
      position: absolute;
      border-color: #fff;
    }
  
    .control {
      display: flex;
      justify-content: center;
      margin-left: 0%;
      gap: 1rem;
    }
    .logo{
      margin-top: 3px;
    }
  }
  