* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* body* */
body {
  background-blend-mode: overlay;
    background: #120123f0;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}
nav{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

/* Navlist* */
.nav-lists {
  display: flex;
  justify-content: space-around;
  /* margin-left: 3rem; */
  gap: 3rem;
  margin-top: 6px;
}

/* navbar achor tags* */
.nav-lists a {
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50px;
  color: #fff;
  text-shadow: 3px 3px 3px navy;
}

nav {
  padding: 1rem;
  padding-top: 1rem;
}

.nav-lists a:hover {
  color: rgb(171, 164, 164);
}
.logo {
  text-shadow: 3px 3px 3px purple;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 10px;
  margin-right: 5rem;
  margin: 5px;

}

/* The burger place */
.burger {
  display: none;
  cursor: pointer;
}
/* burger divs */
.burger div {
  width: 25px;   
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3 ease;
  margin-left: 4rem;
}
/* inputs login* */
input {
  padding: 1rem;
  margin: 3px;
  width: 30rem;
  background: #fff;
  color: black;
  font-size: 1rem;
  outline: none;
  text-align: center;
  background-image: url(./img/soso.jpg);
  background-attachment: fixed;
  background-size: 30rem;
  position: relative;
}
input:hover {
  background: #ccc;
  color: black;
}

div input {
  border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.container {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  background-blend-mode: color-burn;
  margin: 3rem;
  position: relative;
}

.dropdown-menu {
  text-align: center;
  padding: 1rem;
  position: fixed;
  visibility: hidden;
}

.dropdown-menu li {
  list-style: none;
  padding: 10px;
  border-radius: 1rem;
  text-transform: uppercase;
}

.dropdown-menu li a {
  text-shadow: 3px 3px 3px purple;
  font-family: monospace;
}

.control {
  margin-left: 40%;
}
button {
  padding: 1rem;
  width: 8rem;
  border-radius: 1rem;
  outline: none;
}

#signup {
  outline: 0;
  color: #350568;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;

}

#signin {
  outline: 0;
  color: #350568;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

div kbd {
  display: flex;
  justify-content: center;
  margin: 2rem;
  color: #fff;
  font-size: 10px;
}

/* My media query */

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    background-blend-mode: color-burn;
    margin: 1rem;
    position: relative;
  }

  .dropdown {
    display: none;
  }

  .nav-lists {
    display: none;
    justify-content: space-around;
    margin-left: 4rem;
  }

  .burger {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  input {
    padding: 1rem;
    margin: 3px;
    width: 15rem;
    background: #fff;
    color: black;
    font-size: 1rem;
    outline: none;
    text-align: center;
    background-image: url(./img/soso.jpg);
    background-attachment: fixed;
    background-size: 30rem;
    position: absolute;
  }

  .control {
    display: flex;
    justify-content: center;
    margin-left: 0%;
    gap: 1rem;
  }

  body {
  background-blend-mode: overlay;
  /* background: #350568; */
  background-image: url(./img/soso.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  background-position: cover;
}

.nav-lists {
  width: 20%;
  position: absolute;
  right: 60%;
  padding: 5rem;
  height: 30rem;
  top: 4vh;
  padding-top: 1rem;
  margin: 2rem;
  background-color: rgb(17, 61, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-210%);
  transition: transform 1s ease-in;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  font-size: 4px;
  -ms-zoom-animation: unset;
}

.nav-lists li {
  opacity: 1;
}
.burger {
  display: block;
}
}

.nav-active {
transform: translateX(0%);
}

@keyframes navLinkFade {
from {
  opacity: 0;
  transform: translateX(50px);
}
to {
  opacity: 1;
  transform: translateX(0px);
}
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px, -6px);
}

.logo {
  text-shadow: 3px 3px 3px purple;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 10px;
  margin-right: 10rem;
  margin: 5px;

}

}

