* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-blend-mode: hard-light;
  background: blue;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
  margin-left: 4rem;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50px;
  color: #fff;
  text-shadow: 3px 3px 3px navy;
}

nav {
  padding: 1rem;
  padding-top: 1rem;
}

.navbar a:hover {
  color: rgb(171, 164, 164);
}
.logo {
  text-shadow: 3px 3px 3px purple;
  font-family: monospace;
  color: #fff;
}

/* The burger place */
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3 ease;
}

input {
  padding: 1rem;
  margin: 3px;
  width: 30rem;
  background: #fff;
  color: black;
  font-size: 1rem;
  outline: none;
  text-align: center;
  background-image: url(./img/soso.jpg);
  background-attachment: fixed;
  background-size: 30rem;
  position: relative;
}
input:hover {
  background: #ccc;
  color: black;
}

div input {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  background-blend-mode: color-burn;
  margin: 1rem;
  position: relative;
}

#button {
  background: #ccc;
  width: 20%;
  outline: 0;
  color: #1c19d6;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown-menu {
  text-align: center;
  padding: 1rem;
  position: fixed;
}

.dropdown-menu li {
  list-style: none;
  padding: 10px;
  border-radius: 1rem;
  text-transform: uppercase;
}

.dropdown-menu li a {
  text-shadow: 3px 3px 3px purple;
  font-family: monospace;
}

#button:hover {
  color: blue;
  background: #ccc;
  text-shadow: 5px 5px 5px blue;
}
.button {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    background-blend-mode: color-burn;
    margin: 1rem;
    position: relative;
  }

  .dropdown {
    display: none;
  }

  .nav-lists {
    display: none;
    justify-content: space-around;
    margin-left: 4rem;
  }

  .burger {
    display: block;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
  }
}
